/*
 As the doc CSS can be regenerated, this file keeps track of our customization.
 Just copy/paste this at the end of schema_doc.css
*/

:root{
    --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

body {
  font: 14px/1.5em "Drive",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: #f7faff;
}

.badge.value-type, .badge.no-additional, .badge.badge-warning {
    font-size: 0.75rem;
    padding: 0.5rem;
}
.badge-dark {
    background-color: #232B40;
}
.badge.badge-warning{
    color: #753900;
    border: 1px #FFAC00 solid;
    background-color: #FFEED3;
    font-size: 0.675rem;
    padding: 0.375rem;
}
.badge.no-additional {
    background-color: #8CD9CB;
}

.card-header {
    padding: 0.25rem;
}

.card {
    &:has(.collapse) {
        & h2 {
            position: relative;

            & button {
                font-size: 1.5rem;
            &:after {
                content: '';
                background: var(--ifm-menu-link-sublist-icon) center/1.5rem;
                position: absolute;
                top: 50%;
                right: 0.5rem;
                translate: 0 -50%;
                transform: rotate(-90deg);
                transform-origin: center;
                height: 1.25rem;
                width: 1.25rem;
                transition: transform .2s linear;
            }
        }
        }
        &:has(>.collapse.show) {
            &>.card-header h2 button:after {
                transform: rotate(-180deg);
            }
        }
    }
}

h2 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.75rem;
}

.nav-tabs .nav-link {
    border: none;
    color: #575E74;
    font-weight: 500;
    &.active {
        border: none;
        border-bottom: 2px solid #4E73DB;
        color: #295ABE;
    }
}
